:root {
    --purple: #a379f3;
}

h3 {
    color: #2b007c;
}

/* Navbar personalizado */
.navbar.bg-primary {
    background-color: var(--purple) !important;
}

/* Botones principales */
.btn-primary {
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
}

.btn-primary:hover {
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
}

/* Botones outline-light */
.btn-outline-light {
    color: #fff !important;
    border-color: #fff !important;
}

.btn-outline-light:hover {
    background-color: var(--purple) !important;
    color: #fff !important; 
    border-color: var(--purple) !important;
}

/* Pacientes: celeste pastel */
.btn-pacientes {
    background-color: #a2d2ff;
    border-color: #a2d2ff;
    color: #000;
}

.btn-pacientes:hover,
.btn-pacientes:focus {
    background-color: #7fbfff;
    border-color: #7fbfff;
    color: #000;
}

.btn-editarpac {
    background-color: #9fc1d8;
    border-color: #9fc1d8;
    color: #000;
}

.btn-editarpac:hover,
.btn-editarpac:focus {
    background-color: #749bb4;
    border-color: #749bb4;
    color: #000;
}

/* Doctores: verde claro */
.btn-doctores {
    background-color: #a1f0be;
    border-color: #a1f0be;
    color: #000;
}

.btn-doctores:hover,
.btn-doctores:focus {
    background-color: #93d9a7;
    border-color: #93d9a7;
    color: #000;
}

.btn-editardoc {
    background-color: #b4dfc6;
    border-color: #b4dfc6;
    color: #000;
}

.btn-editardoc:hover,
.btn-editardoc:focus {
    background-color: #88be9f;
    border-color: #88be9f;
    color: #000;
}

/* Horas: lila suave */
.btn-horas {
    background-color: #cdaaff;
    border-color: #d6b8ff;
    color: #000;
}

.btn-horas:hover,
.btn-horas:focus {
    background-color: #c19cff;
    border-color: #c19cff;
    color: #000;
}

.btn-editarhora {
    background-color: #c4b4e0;
    border-color: #c4b4e0;
    color: #000;
}

.btn-editarhora:hover,
.btn-editarhora:focus {
    background-color: #9786b4;
    border-color: #9786b4;
    color: #000;
}


.icon-purple-dark {
    color: #592bad !important;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container.pb-5 {
    flex: 1;
}
footer.footer {
    background-color: var(--purple) !important;
    color: white !important;
    text-align: center;
    padding: 1rem;
}

.table-pacientes th {
    background-color: #184d80 !important; 
    color: white !important;              
}

.table-doctores th {
    background-color: #176131 !important; 
    color: white !important;             
}

.table-horas th {
    background-color: #5e2ba7 !important; 
    color: white !important;              
}